/* === RESET básico === */
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Raleway:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
  color: #f5f5f5;
  font-family: 'Raleway', sans-serif;
}













section {
  min-height: 70vh;
}


